fieldset{
  	padding: 1em;
	border:1px solid #ccc;
	margin-bottom:15px;
}
label, .radioFauxLabel{
  float:left;
  width:25%;
  margin-right:0.5em;
  padding-top:0.2em;
  text-align:right;
  font-weight:bold;
}
input{
	font-size:1.1em;	
}
input:focus{
	background-color:#CAF2A2
}
input[type='text'], input[type='email'], input[type='tel'], input[type='number'], textarea{
	width:40%;
}
/*input[type='text']:focus, input[type='email']:focus, input[type='tel']:focus, input[type='number']:focus, textarea:focus{
	background-color:#CAF2A2
}*/
label.radioLabel{
	float: none;
  	display: inline-block;
  	width: auto;
}