.burgerMenuContainer {
  display: none;
}
.headerContainer {
  padding-top: 20px;
}
header {
  margin: auto;
  max-width: 1280px;
}
header div {
  padding: 0;
}
nav {
  height: 80px;
  flex: 1 1 80%;
  display: flex;
  justify-content: flex-end;
  overflow: auto;
}
nav ul {
  display: flex;
}
nav ul li {
  padding: 4px;
  border-bottom: none;
}
nav ul li a {
  margin: 0 15px;
  border: none;
}
nav ul li a:hover {
  border-bottom: 3px solid #fff;
}
main {
  margin: auto;
  max-width: 1280px;
}
.articles {
 	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap:100px;
}
.articles > div {

}
.articles > div:first-child {
  margin-left: 0;
}
.articles > div:last-child {
  margin-right: 0;
}
@media only screen 
and (min-width : 680px) 
and (max-width : 1280px)  { 
	header h2{
		padding:10px;
		color:#f00;
	}
	main{
		padding:0 10px
	}
	.articles {
  		font-size: 1rem;
	}
}
